In [ ]:
# inicio
for n in range(1, 101):
    print(n,
         end=' ' # permite que se impriman en forma horizontal 
          )
# fin

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
n=5
# % permite conocer el residuo de dividir n entre m
# al hacer n%2 tienes respuesta 1 o 0
# impares 1 pares 0
if(n%2): # toma la respuesta como booleean imprimiendo los impares  
  print(n)

5

In [ ]:
# imprimir números impares entre 1-100
for n in range(100):
    if(n%2):
        print(n, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
#Ejercicio 1
print("Sólo sé ... \n ... que nada sé.")

Sólo sé ...
 ... que nada sé.

In [ ]:
#jercicio 2
my_age = 25
print("tengo",my_age,"años")

tengo 25 años

# **Tipos de datos**
**Entero**

In [ ]:
### cast para enteros
total = '120'
print(total)
print(type(total))
## cambio con int
total = int(total)
print(total)
print(type(total))

120
<class 'str'>
120
<class 'int'>

In [ ]:
edad = int(input('Por favor entre su edad:'))
print(edad)
print(type(edad))

Por favor entre su edad:25
25
<class 'int'>

**Flotante**

In [ ]:
x=float(input('ingrese un numero:'))
print(x)
print(type(x))
y=x+5
print(y)

ingrese un numero:4
4.0
<class 'float'>
9.0

**Complejos**

In [ ]:
z = 3.4 + 4j
print(z)
print(type(z))

(3.4+4j)
<class 'complex'>

**NONE**

In [ ]:
b = None
print(b)
print(type(b))

z = 5

b is None

None
<class 'NoneType'>

True

In [ ]:
# Pruebe: z is None
z is None

False

**Strings**

In [ ]:
c='Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles'
print(c)
c

Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles

'Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles'

In [ ]:
# no  se puede poner rutas tan facilmente
print('La ruta del archivo es C:\nombres\archivo.ipynb')

La ruta del archivo es C:
ombresrchivo.ipynb

In [ ]:
# para solucionar lo anterior tenemos dos opciones
print('La ruta del archivo es C:\\nombres\\archivo.ipynb')
print(r'La ruta del archivo es C:\nombres\archivo.ipynb')

La ruta del archivo es C:\nombres\archivo.ipynb
La ruta del archivo es C:\nombres\archivo.ipynb , 5

se puede recorrer los string por caracteres enumerados desde el 0 y además se puede recorrer al revés con números negativos

In [ ]:
texto="cuidado_con_el_orden"
texto
texto[3:-1] # python ciempre toma [,) a los intervalos así

'dado_con_el_orde'

**Asignación múltiple**

permite asignar valores a variables en un sola línea

In [ ]:
# Asignación múltiple

w, x, y, z = "Apple", "Watermelon", "Grape", 28;print(w);print(x);
print(y);
print(z);
print(w,x,y,z,sep=", ");

# Asignación múltiple del mismo valor

x1 = x2 = x3 = 0.5;
print('x1 =',x1);
print('x2 =',x2);
print('x3 =',x3);

Apple
Watermelon
Grape
28
Apple, Watermelon, Grape, 28
x1 = 0.5
x2 = 0.5
x3 = 0.5

Ejercicio

In [ ]:
x, y = 3, 10 # asigna el valor 3 a x y el valor 10 a y

y, x = x, y # asigna a y el valor de x y a x el valor de y

print(y,x,sep=",") # imprime a y=3 y a x=10

3,10

# ***Eliminación de variables***

In [ ]:
w = 1  # crea la variable w y le asigna el valor 1
print(w) # imprime w

1

In [ ]:
del w # elimina W
#el error se da al pedir el print
#print(w) # no puede ejecutarse w ya no existe

# ***Operaciones***

In [28]:
x = "Python es ";
n1 = 1;
# Escribir texto y números
print(x+"el número",n1);

Python es el número 1

# **Ejercicio**

In [29]:
#5*3-5**2-(6)/(9**(0.5))
#5*3-5**2-(6)/3
#5*3-25-6/3
#15-25-2
#-10-2

5*3-5**2-(6)/(9**(1/2))

-12.0

In [30]:
#5*(3-5)**2-6/(9**1/2)
#5*-2**2-6/(9/2)
#5*4-4/3
#20-4/3
#18.666667
5*(3-5)**2-6/(9**1/2)

18.666666666666668

In [35]:
#5*(3-5)**2-6/9**1/2
#5*-2**2-(6/9)/2
#5*4-(6/9)/2
#20-(2/3)/2
#20-1/3
#19.666666
5*(3-5)**2-6/9**1/2

19.666666666666668

In [36]:
#5*3-5**2-6/9**1/2
#5*3-25-(6/9)/2
#15-25-1/3
#-10-1/3
#-10.333333
5*3-5**2-6/9**1/2

-10.333333333333334

**Ejercicio**

In [37]:
edad = 15 # crea edad y asigna el valor 15
status = None #crea status y le asigna vacío

if (edad >12) and (edad<20):# condicional para la edad entre (12,20)
    status = 'adolecente'
else: # en caso de no cumplir la condición
    status = 'no adolecente'

print('status =', status) # imprime el texto con el valor dado por el 
                          # condicional a status

status = adolecente

In [38]:
#3+(-4)**(1/2)
#3+2j
3+(-4)**(1/2)

(3+2j)

In [39]:
# importando el número pi

from math import pi


# visualizar pi
print(pi)

# Your code here
print(round(pi,5))

3.141592653589793
3.14159