In [ ]:
# inicio
for n in range(1, 101):
    print(n,
         end=' ' # permite que se impriman en forma horizontal 
          )
# fin

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
n=5
# % permite conocer el residuo de dividir n entre m
# al hacer n%2 tienes respuesta 1 o 0
# impares 1 pares 0
if(n%2): # toma la respuesta como booleean imprimiendo los impares  
  print(n)

5

In [ ]:
# imprimir números impares entre 1-100
for n in range(100):
    if(n%2):
        print(n, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [1]:
#Ejercicio 1
print("Sólo sé ... \n ... que nada sé.")

Sólo sé ...
 ... que nada sé.

In [2]:
#jercicio 2
my_age = 25
print("tengo",my_age,"años")

tengo 25 años

# **Tipos de datos**
**Entero**

In [6]:
### cast para enteros
total = '120'
print(total)
print(type(total))
## cambio con int
total = int(total)
print(total)
print(type(total))

120
<class 'str'>
120
<class 'int'>

In [7]:
edad = int(input('Por favor entre su edad:'))
print(edad)
print(type(edad))

Por favor entre su edad:25
25
<class 'int'>

**Flotante**

In [8]:
x=float(input('ingrese un numero:'))
print(x)
print(type(x))
y=x+5
print(y)

ingrese un numero:4
4.0
<class 'float'>
9.0